*{
    margin: 0;
    padding: 0;
}

.body{
    width: 100px;
    height: 100px;
    top: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    background-color: orange;
}
.nav{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}